<!DOCTYPE html>
<html>
<head>
    <title>Neo4j Explorer</title>
    <script src="https://unpkg.com/neo4j-driver"></script>
    <script src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="controls"></div>
    <div id="status"></div>
    <div id="graph"></div>
    <div id="nodeInfo"></div>

    <script src="{{ url_for('static', filename='neo4j_explorer.js') }}"></script>
</body>
</html>
